@use '../custom.scss' as *;
@use '../componenets/mixins' as *;

.display-2{
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;

    &--intro{
        display: inline-block;
        font-weight: 700;
        
    }
    &--description{
        display: block;
        font-size: 1rem;
        margin-top: 1.5rem;
    }

    
    // @include media-breakpoint-up(lg){
    //     font-size: 1.5rem;
    //     display: inline-block;
    // }
}
// HEADING LINE
.heading-line::before{
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    background-color: $primary;
    margin: 0 auto;
    
}
.heading-line::after{
    content: "";
    width: 2rem;
    height: 0.1rem;
    display: block;
    background-color: $primary;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}
// DISPLAY3
.display-3{
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;

    &--title{
        font-size: 1.8rem;
        text-transform: capitalize;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        display: inline-block;
        background-image: linear-gradient(to right, $primary, $secondary);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}
// BORDER RIGHT
.border-right{
    border-right: 0.1rem solid $gray-300;
    height: 100%;
}
.gradient{
    background: linear-gradient(to right, rgba($primary, 0.95),rgba($secondary, 0.95)) ;
}